        body {
            font-family: Arial, sans-serif;
            background-color: #f4f7f6;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        .chat-container {
            max-height: 400px;
            overflow-y: scroll;
            margin-bottom: 20px;
        }

        .message {
            background-color: #e9e9e9;
            padding: 10px;
            border-radius: 8px;
            margin: 10px 0;
        }

        .message .sender {
            font-weight: bold;
        }

        .message .timestamp {
            font-size: 0.8em;
            color: gray;
        }

        .message .message-content {
            margin-top: 5px;
        }

        .message input[type="text"], .message textarea {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }

        .message button {
            margin-top: 10px;
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
        }

        .message button:hover {
            background-color: #45a049;
        }
        textarea {
          width: 100%; 
          padding: 10px;
          margin: 8px 0 20px; /* Add spacing */
          border: 1px solid rgb(221, 221, 221);
          border-radius: 5px;
          box-sizing: border-box;
        }
        
        .green-button {
        background-color: #4CAF50; 
        color: white;
        font-size: 16px;
        padding: 10px 20px;
        margin-top:10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .green-button:hover {
        background-color: #1c7430; 
        transform: scale(1.05); 
        }
        .red-button {
        background-color: #dc3545; 
        color: white;
        font-size: 16px;
        padding: 10px 20px;
        margin-top:10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .red-button:hover {
        background-color: #a71d2a; 
        transform: scale(1.05); 
       }
