
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 90%;
    max-width: 1200px;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 14px;
}

th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

td[contenteditable="true"] {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    transition: background-color 0.2s ease;
}

td[contenteditable="true"]:focus {
    background-color: #e1f7d5;
    border-color: #4CAF50;
}

table, h1 {
    margin-top: 20px;
}

@media (max-width: 768px) {
    table {
        width: 100%;
        font-size: 12px;
    }

    th, td {
        padding: 8px;
    }

    h1 {
        font-size: 1.5rem;
    }
}

.red-button {
    background-color: #dc3545; 
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    margin-top:10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.red-button:hover {
    background-color: #a71d2a; 
    transform: scale(1.05); 
}
.green-button {
    background-color: #4CAF50; 
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    margin-top:10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.green-button:hover {
    background-color: #1c7430; 
    transform: scale(1.05); 
}
#map {
    width: 90%;
    height: 500px;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}
.header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #28a745;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            z-index: 1000;
        }